<%provide(:title, "Sign up")%>
<div class="main users-new">
  <div class="container">
    <div class="form-heading">Sign up</div>
      <div class="form users-form">
        <div class="form-body">
          <%=render 'shared/error_messages' %>

          <%= form_for(@user, url:signup_path) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Sign up", class: "btn btn-primary" %>
          <% end %>

          <p>Have an account? ⇒ <%= link_to "Log in", login_path %></p>

          <%#= form_tag("/users/create") do %>
            <!-- <p>User name</p> -->
            <!-- <input type="text" name="name" value="<%#= @user.name %>"> -->
            <!-- <p>Email address</p> -->
            <!-- <input type="text" name="email" value="<%#= @user.email %>"> -->
            <!-- <p>Password</p> -->
            <!-- <input type="password" name="password" value="<%#= @user.password %>"> -->
            <!-- <input type="submit" value="Sign up"> -->
          <%# end %>
        </div>
      </div>
  </div>
</div>
